body {
  font-family: system-ui, sans-serif;
  line-height: 1.4;
}
.header {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5em;
}
.container {
  padding: 10px 20px;
  max-width: 960px;
  margin: 0 auto;
}
.image-block {
  text-align: center;
}
.reserved { color: rgb(155, 52, 52);}
.number, .reserved-identifier {color: rgb(34, 34, 166);}
.string {color: rgb(6, 124, 89);}
.comment {color: gray;}
a {color: black; text-decoration: none;}
a:hover {text-decoration: underline;}
pre {padding: 10px 10px;
    background: #eeeeee;
    border-radius: 10px;}
.footer {
  border-top: 1px solid black;
  margin: 10px 0;
  padding: 10px 0;
}