body {
  font-family: system-ui, sans-serif;
  font-size: 1em;
}
.header {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5em;
}
.container {
  padding: 10px 20px;
}
.image-block {
  text-align: center;
}
.reserved { color: rgb(155, 52, 52);}
.number, .reserved-identifier {color: rgb(34, 34, 166);}
.string {color: rgb(6, 124, 89);}
.comment {color: gray;}
a {color: black; text-decoration: none;}